//这些都是less的自定义变量,都在可以全局使用
@data-color-cyan: #70ffe1;
@data-color-green: #00d08f;
@data-color-orange: #fa6400;
@user-state-orange: #fe824c;

@big-size: 30px;
@large-size: 25px;
@default-size: 20px;
@small-size: 15px;
@mini-size: 10px;
